.botao {
    background-color: var(--cor-destaque);
    border-radius: 8px;
    width: 128px;

    font-size: 16px;
    font-weight: 600;

    margin: 32px auto 0 auto;
    padding: 8px;
}

.botao:hover {
    opacity: 0.8;
    cursor: pointer;
}