body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #06151A;
  padding: 32px;
  display: flex;
  justify-content: center;
}

section {
  background-image: linear-gradient(#17dcb3, 70%, #06151A);
  display: flex;
  justify-content: center;
}

section img {
  max-width: 90%;
}