@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-fundo-corpo: #06151A;
  --cor-fundo-form: #212121;
  --cor-texto-secundario: #33353f;
  --cor-textos: #fff;
  --cor-destaque: #17d9b1;

  --tamanho-fonte-h2: 1.25rem;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Orbitron', sans-serif; */
  background-color: var(--cor-fundo-corpo);
}

header {
  padding: 32px;
  display: flex;
  justify-content: center;
}

section {
  background-image: linear-gradient(180deg, var(--cor-destaque) 0%, var(--cor-fundo-corpo) 100%);
  display: flex;
  justify-content: center;
}

section img {
  max-width: 90%;
}